@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* { 
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}

body {
    position: relative;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #F2F6FF;
}

.site-header {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 9999 !important;
    background-color: transparent;
    border-bottom: rgba(0,0,0,0);
}

.site-header .site-branding {
    position: absolute;
    left: 84px;
    top: 56px;
    display: block;
    width: 167px;
    height: 23px;
    background: url(../index_files/logo_black.png) no-repeat center;
    background-size: contain;
}

.site-navigation {
    position: absolute;
    right: 85px;
    top: 56px;
    display: block;
    margin: auto;
    width: 367px;
    height: 40px;
    line-height: normal;
    text-align: center;
    opacity: 1;
}

.main-navigation>ul{
    margin: auto;
    padding-left: 0;
    display: inline-block;
    list-style: none;
    text-align: left;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    overflow: hidden;
}

.main-navigation>ul>li{
    float: left;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #222b45
}

.page-header {
    position: relative;
    display: block;
    top: -135px;
    left: 0px;
    width: 100%;
    height: 1080px;
    background: url(../index_files/background-img.png) no-repeat, center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    margin: auto;
}

.hero-title-wrap {
    position: absolute;
    top: 320px;
}

.hero-title-indicator {
    width: 82px;
    height: 14px;
    background: url(../index_files/indicator.png) no-repeat, center;
}

.hero-title {
    margin-top: 40px;
    margin-bottom: 0px;
    height: 63px;
    font-size: 60px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    color: #222b45;
}

.hero-desc {
    margin-top: 30px;
    width: 443px;
    height: 43px;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6d7278;
}

.hero-action {
    margin-top: 59px;
}

.hero-action-button {
    width: 238px;
    height: 56px;
    border-radius: 4px;
    background-color: #3366ff;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff !important;
    padding-top: 16px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
}

.location-pin {
    position: absolute;
    top: 900px;
    width: 136px;
    height: 24px;
    opacity: 0.7;
    background: url(../index_files/location-pin.png) no-repeat, center;
}

.content {
    position: relative;
    width: 100%;
    height: 600px;
    top: -100px;
    background-color: #F2F6FF;
}

.featured-card-list {
    position: relative;
    width: 100%;
    height: 371px;
    margin-bottom: 15px;
    background: url(../index_files/card-list.png) no-repeat left;
    background-size: contain;
}

.banner-widget {
    position: relative;
    width: 100%;
    height: 230px;
    background: url(../index_files/banner-widget.png) no-repeat left;
    background-size: contain;
}

.site-footer {
    position: relative;
    display: block;
    width: 100%;
    height: 185px;
    border-top: 1px solid #222;
    padding-top: 40px;
    background-color: #222;
}

.db-col-1 {
    position: relative;
    width: 66.6666667%;
    display: inline-block;
    min-height: 1px;
    display: block;
    overflow: hidden;
}

.footer-category {
    float: left;
    width: 32%;
}

.footer-category a{
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
}