* { 
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}


body {
    position: relative;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    margin: 0 auto;
}

.site-header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 9999 !important;
    background-color: white;
    border-bottom: 0.5px solid lightgray;
}

.site-header .site-branding {
    position: fixed;
    left: 84px;
    top: 56px;
    display: block;
    width: 167px;
    height: 23px;
    background: url(../index_files/logo_black.png) no-repeat center;
    background-size: contain;
}

.site-navigation {
    position: fixed;
    right: 85px;
    top: 56px;
    display: block;
    margin: auto;
    width: 367px;
    height: 40px;
    line-height: normal;
    text-align: center;
    opacity: 1;
}

.main-navigation>ul{
    margin: auto;
    padding-left: 0;
    display: inline-block;
    list-style: none;
    text-align: left;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    overflow: hidden;
}

.main-navigation>ul>li{
    float: left;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #222b45
}

.survey {
    position: relative;
    display: block;
    width: 100%;
    height: 1815px;
    margin-top: 135px;
    background-color: #F2F6FF;
}

.survey .survey-container {
    position: relative;
    display: block;
    top:35px;
    bottom: 35px;
    width: 100%;
    height: 1745px;
    border-radius: 10px;
    border: solid 1px #3366ff;
    background-color: #fff;
}

.survey-title-area {
    position: relative;
    display: block;
    width: 100%;
    height: 257px;
    margin-bottom: 35px;
    border-bottom: 0.5px solid lightgray;
}

.survey-title-area .survey-title-icon {
    position: absolute;
    display: block;
    margin-top: 89px;
    margin-left: 102px;
    width: 60px;
    height: 60px;
    background: url(../survey_files/edit-2-fill.png) no-repeat center;
}

.survey-title-text {
    position: absolute;
    margin-top: 169px;
    margin-left: 102px;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.question-area-1, .question-area-2, .question-area-3 {
    position: relative;
    display: block;
    width: 100%;
    height: 312px;
}

.question-area-4 {
    position: relative;
    display: block;
    width: 100%;
    height: 357px;
}

.question-title {
    position: absolute;
    display: block;
    width: 995px;
    height: 29px;
    margin-top: 46px;
    margin-left: 102px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.question-answer-4options {
    position: absolute;
    display: block;
    width: 995px;
    height: 161px;
    margin-top: 109px;
    margin-left: 102px;
}

.question-answer-5options {
    position: absolute;
    display: block;
    width: 995px;
    height: 205px;
    margin-top: 109px;
    margin-left: 102px;
}

.option1, .option2, .option3, .option4, .option5 {
    position: relative;
    display: block;
    width: 995px;
    height: 29px;
    margin-bottom: 15px;
}

.radio-button-unselected {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 2.5px;
    margin-left: 0px;
    background: url(../survey_files/radio-button-off.png) center no-repeat;
}

.option-text {
    position: absolute;
    width: 945px;
    height: 29px;
    margin-top: -2px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}


.order-action {
    position: relative;
    display: block;
    margin-top: 35px;
    margin-left: 102px;
    width: 124px;
    height: 56px;
    border-radius: 4px;
    background-color: #3366ff;
}

.order-action .order-action-button {
    position: absolute;
    margin-left: 30.5px;
    margin-top: 16px;
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
}


.site-footer {
    position: relative;
    display: block;
    width: 100%;
    height: 185px;
    border-top: 1px solid #222;
    padding-top: 40px;
    background-color: #222;
}

.db-col-1 {
    position: relative;
    width: 66.6666667%;
    display: inline-block;
    min-height: 1px;
    display: block;
    overflow: hidden;
}

.footer-category {
    float: left;
    width: 32%;
}

.footer-category a{
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
}