<section class="wheretogo-layout-featured">
    <div class="container">
        <div class="article-header">
            <div class="tool-icon icon-featured">
            </div>
            <h3 class="category-title">지금 인기있는 여름 여행지</h3>
        </div>

        <div class="swiper-container featured-slider swiper-container-horizontal swiper-container-free-mode" style="cursor: grab;">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active" style="margin-right: 30px;">
                    <!--썸네일 뷰-->
                    <article class="type-card" id="post-1">
                        <div class="thumb-img">
                            <a class="hover-effect" href="#">
                                <figure class="thumbnail">
                                    <img width="380" height="214" src="../static/index_files/card-thumbnail-1.png" class="lazy" style="display:block;">
                                </figure>
                            </a>
                        </div>
                        <div class="thumb-info-wrap">
                            <div class="thumb-location">
                                <a href="#" rel="location tag">
                                    <p>🇫🇷</p>
                                    <p>니스</p>
                                </a>

                                <h1 class="thumb-title">
                                    <a href="#" rel="bookmark">
                                        #여름에_바다로_친구와_럭셔리 여행
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </article>

                    <article class="type-card" id="post-2">
                        <div class="thumb-img">
                            <a class="hover-effect" href="#">
                                <figure class="thumbnail">
                                    <img width="380" height="214" src="../static/index_files/card-thumbnail-2.png" class="lazy" style="display:block;">
                                </figure>
                            </a>
                        </div>
                        <div class="thumb-info-wrap">
                            <div class="thumb-location">
                                <a href="#" rel="location tag">
                                    <p>🇹🇷</p>
                                    <p>이스탄불</p>
                                </a>

                                <h1 class="thumb-title">
                                    <a href="#" rel="bookmark">
                                        #여름에_낯선 곳으로_친구와_먹방 여행
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </article>

                    <article class="type-card" id="post-3">
                        <div class="thumb-img">
                            <a class="hover-effect" href="#">
                                <figure class="thumbnail">
                                    <img width="380" height="214" src="../static/index_files/card-thumbnail-3.png" class="lazy" style="display:block;">
                                </figure>
                            </a>
                        </div>
                        <div class="thumb-info-wrap">
                            <div class="thumb-location">
                                <a href="#" rel="location tag">
                                    <p>🇮🇩</p>
                                    <p>발리</p>
                                </a>

                                <h1 class="thumb-title">
                                    <a href="#" rel="bookmark">
                                        #여름에_휴양지로_연인과_릴랙스 여행
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </article>

                    <article class="type-card" id="post-4">
                        <div class="thumb-img">
                            <a class="hover-effect" href="#">
                                <figure class="thumbnail">
                                    <img width="380" height="214" src="../static/index_files/card-thumbnail-4.png" class="lazy" style="display:block;">
                                </figure>
                            </a>
                        </div>
                        <div class="thumb-info-wrap">
                            <div class="thumb-location">
                                <a href="#" rel="location tag">
                                    <p>🇪🇸</p>
                                    <p>바르셀로나</p>
                                </a>

                                <h1 class="thumb-title">
                                    <a href="#" rel="bookmark">
                                        #여름에_유럽으로_나홀로_문화 여행
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </div>

        <div class="swiper-button-next" role="button" aria-label="Next slide"></div>
        <div class="swiper-button-prev" role="button" aria-label="Previous slide"></div>
    </div>
</section>

<div id="db_banner_widget" class="widget db_banner_widget">
    <section>
        <div class="container">
            <a href="#">
                <div class="banner-item blue-bg">
                    <div class="text-area text-left">
                        <h1>여행을 즐기기에도 시간이 부족하니까</h1>
                        <p>
                            지도를 찾아볼 시간에 커피를 한 잔 더 할 수 있도록
                            <br>
                            예매사이트 찾아다닐 틈에 한 잠 더 잘 수 있도록
                        </p>
                    </div>

                    <figure class="banner-img banner-principle db-parallax">
                    </figure>

                </div>
            </a>
        </div>
    </section>
</div>

<footer class="site-footer" role="contentinfo">
    <section class="dark-bg">
        <div class="container">
            <div class="row">
                <div class="db-col-1">
                    <div class="footer-category">
                        <a href="../templates/survey/survey.html">여행지 찾기</a>
                        <a href="../templates/more/more.html">더 알아보기</a>
                        <a href="#">전체보기</a>
                    </div>

                    <div class="footer-category">
                        <a href="#">서비스 약관</a>
                        <a href="#"><b>개인정보처리방침</b></a>
                        <a href="#">쿠키 정책</a>
                    </div>

                    <div class="footer-category">
                        <a href="#">브런치</a>
                        <a href="#">페이스북</a>
                        <a href="#">인스타그램</a>
                    </div>
                </div>

                <div class="footer-wheretogo-info db-col-2">
                    <div class="footer-info">
                        <p>wheretogo@gmail.com</p>
                        <a class="button" href="#">문의하기</a>
                        <p class="copyright">© 2020 wheretogo | All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</footer>